@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline-none;
}

html {
  scroll-behavior: smooth;
}

h3 {
  @apply font-bold text-2xl lg:text-4xl;
}

.p1 {
  @apply font-light text-lg lg:text-xl;
}

input,
textarea {
  @apply w-full border border-gray rounded-sm py-3 px-4 bg-slate-50 font-light focus:border-black focus:outline-none;
}

textarea {
  @apply h-40;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

.blink {
  animation: blink 0.4s step-end infinite;
}
